# OPTIONAL
DATABASE_URL=
# REQUIRED
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
ADMIN_USERNAME=
ADMIN_PASSWORD=
ACCESS_TOKEN_COOKIE_NAME=
ACCESS_TOKEN_COOKIE_HTTPONLY=
ACCESS_TOKEN_COOKIE_SECURE=
ACCESS_TOKEN_COOKIE_SAMESITE=
ACCESS_TOKEN_COOKIE_PATH=
FRONTEND_ORIGINS=
